<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Account</title>
  <link rel="stylesheet" href="/styles/register.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS for toast -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />



</head>

<body>
  <div class="container">
    <div class="form-container">
      <h2>Create New Account</h2>

      <a href="/auth/google" class="google-btn">
        <img src="images/googlesignup.png" alt="Google logo" />
        Signup with Google
      </a>

      <p class="or">or</p>

      <form id="signform" action="/signup" method="POST">
        <div id="error1" class="error-message"></div>
        <input type="text" id="name" name="name" placeholder="Name"  />

        <div id="error2" class="error-message"></div>
        <input type="email" id="email" name="email" placeholder="Email"  />

        <div id="error5" class="error-message"></div>
        <input type="text" id="phone" name="phone" placeholder="Phone No"  />

        <div id="error3" class="error-message"></div>
        <input type="password" id="password" name="password" placeholder="Password"  />

        <div id="error4" class="error-message"></div>
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Reenter Password"  />


        <button type="submit" class="signup-btn">SignUp</button>
        <p class="login-text">Already have account? <a href="/login">Login</a></p>
      </form>
    </div>

    <div class="logo-container">
      <a href="/">
        <h1><span class="shop">Shop</span><span class="now">now</span></h1>
      </a>
    </div>
  </div>

  <% if (locals.msg && msg.length> 0) { %>
    <div class="position-fixed top-0 p-3" style="z-index: 9999">
      <div id="liveToast" class="toast show align-items-center text-bg-danger border-0" role="alert">
        <div class="d-flex">
          <div class="toast-body">
            <%= msg %>
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
        </div>
      </div>
    </div>
    <% } %>

      <!-- Bootstrap JS -->
     
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

      <script>
        const nameid = document.getElementById('name')
        const emailid = document.getElementById('email')
        const passid = document.getElementById('password')
        const cpassid = document.getElementById('confirmPassword')
        const phoneid = document.getElementById('phone')
        const error1 = document.getElementById('error1')
        const error2 = document.getElementById('error2')
        const error3 = document.getElementById('error3')
        const error4 = document.getElementById('error4')
        const error5 = document.getElementById('error5')
        const signform = document.getElementById('signform')

        function nameValidateChecking(e) {

          const nameval = nameid.value;

          const namepattern = /^[A-Za-z\s]+$/;

          if (nameval.trim() === '') {
            error1.style.display = 'block';
            error1.innerHTML = 'please enter valid Name'
          } else if (!namepattern.test(nameval)) {
            error1.style.display = 'block';
            error1.innerHTML = 'Name can only contain alphabets and spaces'
          } else {
            error1.style.display = 'none'
            error1.innerHTML = ''
          }
        }

        function emailValidateChecking() {
          const emailval = emailid.value;

          const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

          if (!emailPattern.test(emailval)) {
            error2.style.display = 'block';
            error2.innerHTML = 'Enter Valid Email'
          } else {
            error2.style.display = 'none';
            error2.innerHTML = ''
          }

        }
        function passValidateChecking() {
          const passval = passid.value;
          const cpassval = cpassid.value;
          const alpha = /[a-zA-Z]/;
          const digit = /\d/;

          if (passval.trim() == '') {
            error4.style.display = 'block';
            error4.innerHTML = 'Please Enter a Valid Password';
            return
          } else if (passval.length < 8) {
            error4.style.display = 'block';
            error4.innerHTML = 'Password must be at least 8 characters long';
            return
          } else if (!alpha.test(passval) || !digit.test(passval)) {
            error4.style.display = 'block';
            error4.innerHTML = 'Password must contain at least one alphabet and one digit';
            return
          }else if (passval !== cpassval) {
            error4.style.display = 'block';
            error4.innerHTML = 'Passwords do not match';
            return
          } else {
            error4.style.display = 'none';
            error4.innerHTML = '';
            return
          }

          if (passval !== cpassval) {
            error4.style.display = 'block';
            error4.innerHTML = 'Passwords do not match';
            return
          } else {
            error4.style.display = 'none';
            error4.innerHTML = '';
            return
          }
        }

        function phoneValidateChecking(e){
            const phoneval = phoneid.value;
            const phonepattern = /^[0-9]{10}$/;

            if(phoneval.trim() == ''){
                error5.style.display = 'block';
                error5.innerHTML = 'Please Enter a Valid Phone Number';
            } else if(!phonepattern.test(phoneval)){
                error5.style.display = 'block';
                error5.innerHTML = 'Please Enter a Valid Phone Number';
            } else {
                error5.style.display = 'none';
                error5.innerHTML = '';
            }
        }


        document.addEventListener('DOMContentLoaded', () => {
          signform.addEventListener('submit', (e) => {
            nameValidateChecking();
            emailValidateChecking();
            passValidateChecking();
            phoneValidateChecking();

            if (
              error1.innerHTML ||
              error2.innerHTML ||
              error3.innerHTML ||
              error4.innerHTML ||
              error5.innerHTML
            ) {
              e.preventDefault();
            }
          })
        })

      </script>

</body>

</html>